@model NgoProjectNew1.Models.ViewModel.LoginSingupViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="container">
    <div class="row mt-lg-5">
        <div class="col-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5">
            <h6 class="text-success text-center">@TempData["successMessage"]</h6>
            <form action="@Url.Action("Login", "Home")" method="post">
                <div class="form-group row mt-lg-3">
                    <label asp-for="Username"></label>
                    <input type="text" name="Username" placeholder="Enter Username" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group row mt-lg-3">
                    <label asp-for="Password"></label>
                    <input type="text" name="Password" placeholder="Enter Password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group row mt-lg-3">
                    <input type="submit" class="btn btn-block btn-primary mb-2" value="Login" />
                    <a class="text-light btn btn-primary font-weight-bold" asp-action="SignUp" asp-controller="Home">Become a member</a>
                </div>
            </form>
        </div>
    </div>
</div>
